uploads/
__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore
*.log
*.db
*.sqlite
*.sqlite3
*.pt
*.onnx
*.mp4
*.avi
*.mkv

app/Fine_tune_dev/models/checkpoints/distill/
app/Fine_tune_dev/models/checkpoints/.cache/
